{% extends 'base.html.twig' %}

{% block title %}Hello ApiauthController!{% endblock %}




{% block body %}
  
<a href="{{ path('google_api') }}" class="btn text-uppercase btn-outline-danger btn-lg mr-3 mb-3 wow bounceInUp"> Show My Data</a>
{# <a href="{{ path('google_api') }}">Show Data</a> #}


{% endblock %}


{% block footer %}
    
{% endblock %}

{% block javascript %}
  
{% endblock %}
